.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.example-small-box, .example-large-box {
    display: flex;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    position: relative;
    flex-wrap: wrap;
  }
  .container-intevep1{
    width: 100%;
    position: relative;
  }
  .container-intevep1>img{
    width: 100%;
    height: 120px;
    border-radius: 10px;
  }
  .container-intevep2{
    width: 100%;
    position: absolute;
    top: 15%;
    left: 25%;
  }
  .container-intevep2>img{
    height: 80px;
    width: 50%;
  }
  .container-oasis1{
    width: 100%;
    position: relative;
    filter: opacity(0.6);
  }
  .container-oasis1>img{
    width: 100%;
    height: 120px;
    border-radius: 10px;
  }
  .container-oasis2{
    width: 100%;
    position: absolute;
    top: 15%;
    left: 40%;
  }
  .container-oasis2>img{
    height: 80px;
    width: 25%;
  }

  .container-jms1{
    width: 100%;
    position: relative;
    filter: opacity(0.6);
  }
  .container-jms1>img{
    width: 100%;
    height: 120px;
    border-radius: 10px;
  }
  .container-jms2{
    width: 100%;
    position: absolute;
    top: 15%;
    left: 10%;
  }
  .container-jms2>img{
   height: 80px;
    width: 70%;
  }
  .container-convert1{
    filter: opacity(0.3); 
  }
  .container-convert1>img{
    width: 100%;
    height: 120px;
    border-radius: 10px;
  }
  .container-convert2{
    width: 100%;
    position: absolute;
    top: 15%;
    left: 35%;
  }
  .container-convert2>img{
    height: 80px;
    width: 80px;
  }
.container-portfolio2 {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.content-h{
  position: absolute;
  margin-top: 9%;
  width: 100%;
  top: 0;
}
.content-h>h2{
  text-align: center;
}
@media(max-width: 600px){
  *{
    overflow: hidden;
  }
  .content-h{
    margin-top: 27%;
  }
  .content-h>h2{
    margin: 10%;
  }

}
.example-small-box {
    height: 100px;
    width: 100px;
  }
  
.example-large-box {
    height: 200px;
    width: 25%;
    display: flex;
    flex-direction: column;
}
@media(max-width: 600px){
  .example-large-box {
    height: 200px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .header{
    height: 200px;
  }
}
.button-dialog{
  width: 40px;
  height: 30px;
  align-self: center;
  margin-top: 15px;
}
.container-slide{
  display:flex;
  transition: all 5s ease;
  justify-content: space-between;
}
.circle-img{
  border-radius: 100%;
  height: 90px;
  width: 90px;
  animation-name: movingCircle;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}
.circle-img:hover{
  animation-name: movingCircle;
  animation-duration: 0ms;
  animation-iteration-count: initial;
  width: 95px;
}
 @keyframes movingCircle{
    0% {
        transform: rotate(0);
       
      }
    
      100% {
        transform: rotate(360deg);
      }
  }
 
@media(max-width: 600px){
  .circle-img{
  border-radius: 100%;
  height: 30px;
  width: 30px;
  
  }
}
@media(min-width: 700px) and (max-width: 800px){
    .example-large-box {
    height: 200px;
    width: 36%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
  .circle-img{
  border-radius: 100%;
  height: 60px;
  width: 60px;
  
  }
 
  .content-h{
    margin-top: 20%;
  }
  .header{
    width: 200px;
  }
}
@media(min-width: 900px) and (max-width: 992px){
  .example-large-box {
    height: 200px;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .circle-img{
  border-radius: 100%;
  height: 60px;
  width: 60px;

  }
  .content-h{
    margin-top: 15%;
  }
  .header{
    height: 200px;
  }
}

.circle-img>img{
  width: 100%;
  height: 100%;
  border-radius: 100%; 
  object-fit: cover;
}
.container{
  height: 100px;
  width: 100%;
  margin-bottom: 20px;

}



.html{
  background-color: #FF5733;
  
}
.css{
  background: linear-gradient(to left, #009FFF,#146FB1);
}
.javascript>img{
  background:linear-gradient(to left, #f7df1e, #F8D900);
}
.bootstrap{
  background-color: #563d7c;
}
.materialize{
  background-color: #ee6e73;
}
.php{
  background-color: #7C62F5;
}
.mysql{
  background-color: #264B76;
}
.python{
  background-color: rgb(245, 245, 245);
}
.web2py{
  background-color: black;
  opacity: 0.2;
}
.reactjs{
  background: black;
}