<div class="container-all">
    <div class="jms-img">
    </div>
    <div class="jms-description">
    <img src="assets/img/jmscarpinteria.png" alt="jmscarpinteria">
    <p>JmsCarpinteria fue mi primer proyecto, en ese momento estaba en el liceo, donde pude decidirme en dedicarme, en crear paginas y aplicaciones web, fue creada para una carpinteria, donde muestran sus servicios y una caja de contacto. <br><br>
    	<a target="_blank" href="assets/img/Jms.pdf">Ver portafolio JMS</a><br><br>
    	<a target="_blank" href="http://jmscarpinteria.ml">Ir Pagina</a>
    </p>
    </div>
    </div>
