.container-all{
}
.jms-img{
    height: 200px;
    width: 300px;
    float: left;
    background-image:url('../assets/img/jmscarpinteriaweb.png');
    background-size: contain;
    background-repeat: no-repeat;
   margin-right: 10px;
   margin-top: 40px;
}
.jms-description{
   
}
.jms-description>img{
    height: 60px;
    width: 140px;
    margin-left: 20%;
}
a{
    text-decoration: none;
    color: white;
    background-color: rgb(0, 174, 255);
    padding: 5px;
    border-radius: 5px;
    transition: 0.9s ease-in-out;
}
a:hover{
    border: 1px solid rgb(0, 174, 255);
    background-color: white;
    color: rgb(0, 174, 255);
}

@media(max-width: 800px){
    .jms-img{
    margin-left: 10%;
    margin-top: 50px;
    height: 250px;
    width: 450px;
    float:none;
    background-image:url('../assets/img/jmscarpinteriaweb.png');
    background-size: contain;
    background-repeat: no-repeat;
}
    .jms-description>img{
        height: 80px;
        width: 120px;
        margin-left: 30%;
        position: absolute;
        top: 0
    }
a{
   margin-left: 35%;
}

}
@media(max-width: 600px){
    .jms-description>img{
        height: 80px;
        width: 120px;
        margin-left: 30%;
        position: absolute;
        top: 110px;
    }
}