<div class="container-all">
    <div class="convert-img">

    </div>
    <div class="convert-description">
    <img src="assets/img/Ai2.png" alt="Aisak">
    <p>Esto es un proyecto personal donde, me estableci como meta de utilizar
        la api de dolartoday, con el nuevo api o metodo de fetch para traer datos
        actualizados en tiempo real, con las divisas que se estan utilizando en nuestro
        pais, como es el Dolar y el Euro.  Muy pronto se actualizara la aplicación a otras
        divisas y arreglar ciertos detalles. <br><br>
    	<a target="_blank" href="assets/img/convertidor.pdf">Ver portafolio Convert Divisa</a><br><br>
    	<a target="_blank" href="https://aisakk.github.io/ConvertDivisa/">Ir Pagina</a>
    </p>
    </div>
 </div>
