.container-all{
}
.convert-img{
    height: 250px;
    width: 300px;
    float: left;
    background-image:url('../assets/img/convertidor.png');
    background-size: contain;
    background-repeat: no-repeat;
   margin-right: 10px;
   margin-top: 70px;
}
.convert-description{
   
}
.convert-description>img{
    height: 80px;
    width: 80px;
    margin-left: 20%;
}
a{
    text-decoration: none;
    color: white;
    background-color: rgb(0, 174, 255);
    padding: 5px;
    border-radius: 5px;
    transition: 0.9s ease-in-out;
}
a:hover{
    border: 1px solid rgb(0, 174, 255);
    background-color: white;
    color: rgb(0, 174, 255);
}

@media(max-width: 800px){
    .convert-img{
    margin-left: 15%;
    margin-top: 50px;
    height: 250px;
    width: 450px;
    float:none;
     background-image:url('../assets/img/convertidor.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.convert-description>img{
    height: 60px;
    width: 70px;
    margin-left: 35%;
    position: absolute;
    top: 2%;
}
a{
    margin-left: 35%;
}
}
@media(max-width: 600px){
    .convert-description>img{
        height: 60px;
        width: 70px;
        margin-left: 35%;
        position: absolute;
        top: 110px;
    }
}