<div class="img">
    <img src="assets/img/isaac.jpg" alt="Isaac-Aisak" class="aisak">
    </div>
    <p class="parrafo">Buenas, mi nombre es Isaac Santaella, soy desarrollador
        web, me dedico a programar desde el año 2016, mi primer lenguaje de programacion
        fue QBasic y fue el que me ayudo a entender y a entrar en el mundo 
        de la programación.
    
        Soy de las personas que me gusta estar en un constante aprendizaje 
        y practicar lo que ya he aprendido para ir mejorando, algo asi de 
        practicar lo que predico.
    
        Siento que la mejor forma de vivir es traer el futuro al presente 
        y ayudar a las personas puedan cumplir su proposito en esta vida.<br><br>
    
        <a href="assets/img/Curriculum AIsak.pdf" target="_blank"> Curriculum</a>
    </p>
    