<div class="container-all">
    <div class="oasis-img">
    </div>
    <div class="oasis-description">
    <img src="assets/img/oasis.png" alt="Oasis">
    <p>Esta Aplicación Intranet se realizo en la Biblioteca Cecilio Acosta del Estado Miranda en Venezuela,
        fue mi segundo proyecto comunitario de la universidad, donde los usuarios le permitian realizar cursos basicos, de forma presencial en la biblioteca, tomando asistencia de forma automatica el cual le permitia al administrador en este caso profesor, saber quien completo los cursos para dar un certificado de culminación. <br><br>
        <a href="assets/img/Pantallas.pdf" target="_blank">Ver portafolio oasis</a>
    </p>
    </div>
    </div>