<div class="container-all">
    <div class="intevep-img">
    </div>
    <div class="intevep-description">
    <img src="assets/img/logored.svg" alt="Pdvsa Intevep">
    <p>Este proyecto fue realizado en la filial Intevep de PDVSA que se 
        encarga de la parte técnica, de investigación y desarrollo; El 
        sistema tiene la amplitud de gestionar todos los documentos que 
        se crean en PDVSA para facilitar el proceso de revisión, y guardado
        de documentos.<br><br>
    
        <a href="assets/img/Inteve.pdf" target="_blank">Ver portafolio Intevep</a> 
    </p>
    
    </div>
    </div>