.container-all{
}
.intevep-img{
    margin-top: 50px;
    height: 250px;
    width: 450px;
    float: left;
    background-image: url('../assets/img/login_pdvsa.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.intevep-description{
    
}
.intevep-description>img{
    height: 80px;
    width: 120px;
    margin-left: 10%;
}
a{
    text-decoration: none;
    color: white;
    background-color: rgb(0, 174, 255);
    padding: 5px;
    border-radius: 5px;
    transition: 0.9s ease-in-out;
}
a:hover{
    border: 1px solid rgb(0, 174, 255);
    background-color: white;
    color: rgb(0, 174, 255);
}

@media(max-width: 800px){
    .intevep-img{
    margin-left: 10%;
    margin-top: 50px;
    height: 250px;
    width: 450px;
    float:none;
    background-image: url('../assets/img/login_pdvsa.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.intevep-description>img{
    height: 80px;
    width: 120px;
    margin-left: 30%;
    position: absolute;
    top: 0
}
a{
    margin-left: 35%;
}
}
@media(max-width: 600px){
    .intevep-description>img{
        height: 80px;
        width: 120px;
        margin-left: 30%;
        position: absolute;
        top: 110px;
    }
}